
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #127e8b;
  background-color: transparent ; 
  border-bottom: 1px solid #127e8b;
  font-weight: 700;
}

.nav-link, .nav-link:focus, .nav-link:hover  {
  color: #1b8b99;
}

.nav-pills .nav-link { 
  border-radius: 0rem; 
}
.home-page{
  background-image: url("/src/img/mandala-opt.jpg");   
  height: 830px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
@media screen and (max-width: 1200px) {
  .home-page{
    background-image: url("/src/img/mandala-bg-size.jpg");  
  }
}

@media screen and (max-width: 992px) {
  .home-page{
    background-image: url("/src/img/mandala-md.jpg");  
  }
}

@media screen and (max-width: 768px) {
  .home-page{
    background-image: url("/src/img/mandala-sm.jpg");  
  }
}

@media screen and (max-width: 576px) {
  .home-page{
    background-image: url("/src/img/mandala-xs.jpg");  
  }
}