.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #084298;
  background-color: transparent ; 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #084298;  
  font-weight: 700;
}
.nav-link {
  color: #212529;
}