
@font-face{
  font-family: 'defaultFont';
  src: url('../src/fonts/Poppins-Light.otf')
}
.about-page, .contact-page{
  font-family: 'defaultFont';
}
.row {
  --bs-gutter-x: 0rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #127e8b;
  background-color: transparent ; 
  border-bottom: 2px solid #f57a20;
  font-weight: 700;
}

.nav-link, .nav-link:focus, .nav-link:hover  {
  color: #1b8b99;
}

.nav-pills .nav-link { 
  border-radius: 0rem; 
}
.home-page{
  background-image: url("/src/img/mandala-opt.jpg");   
  height: 830px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.home-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size:40px;
  font-weight: bold;
  width: 200px;
}
.home-text a, .social a{
  color: #fff;
  font-size: 30px;
}
.about-page{
  background: #4db9c5;
  height: 830px;
}
.contact-page .btn-outline-secondary {
  color: #E3721B;
  border-color: #E3721B;
}
.contact-page .btn-outline-secondary:hover {
  color: #fff;
  background-color: #E3721B;
  border-color: #E3721B;
}
.contact-page .btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0rem rgb(108 117 125 / 50%); 
}
.contract-page .form-control{
  border: 2px solid #127e8b;
}
.contact-page .form-control:focus {
  border-color: #E3721B; 
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%); 
}
.contact-page .btn-check:focus+.btn, .btn:focus {
  outline: 0;
   box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%); 
}
.about-page img {
  padding: 5px; 
}

.about-page .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #f57a20;
}

.about-page .div-img-bg .about-img img {
  width: 100%; 
  margin-top: -65px;
  margin-left: 47px;
  height: 368px;
  object-fit: cover;
}
.skills{
  font-size: 18px;
}
.skills-header{
  color: #f57a20;
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}
@media screen and (max-width: 1200px) {
  .home-page{
    background-image: url("/src/img/mandala-bg-size.jpg");  
  }
}

@media screen and (max-width: 992px) {
  .home-page{
    background-image: url("/src/img/mandala-md.jpg");  
  }
  .home-text { 
    font-size:35px;   
  }
  .home-text a{    
    font-size: 25px;
  }
  .home-page{    
    height: 815px;
  }
}

@media screen and (max-width: 768px) {
  .home-page{
    background-image: url("/src/img/mandala-sm.jpg");  
  }
  .home-text { 
    font-size:30px;  
    left: 22%; 
  }
  .home-text a{    
    font-size: 21px;
  }
  .home-page{    
    height: 772px;
  }
}

@media screen and (max-width: 576px) {
  .home-page{
    background-image: url("/src/img/mandala-xs.jpg");  
  }
  body{
    font-size:14px;
  }
  .home-page{    
    height: 736px;
  }
}